	body {
            background-color: #f0f0f0;
            font-family: 'Arial', sans-serif;
            overflow-x: hidden;
            font-size: 18px;
            color: #333;
        }

        main {
            max-width: 800px;
            margin: auto;
            background-color: white;
            padding: 20px;
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
            margin-top: 20px;
            margin-bottom: 20px;
        }

        ul.nav {
            background-color: #343a40;
            overflow: hidden;
            color: white;
            border-radius: 0;
        }

        .nav-link {
            color: white !important;
            font-size: 18px;
        }

        header {
            background-color: #343a40;
            padding: 20px;
            text-align: center;
            color: white;
        }

        .img-container {
            text-align: center;
        }

        .img-container img {
            width: 70%;
            height: auto;
            border-radius: 8px;
            margin-bottom: 20px;
        }

        .desc {
            text-align: center;
            color: gray;
        }