	body {
   		background-color: #f0f0f0;
    		font-family: 'Arial', sans-serif;
    		overflow-x: hidden;
  		font-size: 18px;
    		color: #333;
		}
	
	header {
    		background-color: #343a40;
    		padding: 20px;
    		text-align: center;
    		color: white;
		}

	h1, h5 {
    		color: gray;
		}

	main {
    		max-width: 800px;
 		margin: auto;
    		background-color: white;
    		padding: 20px;
    		box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
   		margin-top: 20px;
   		margin-bottom: 20px;
		}

	ul.nav {
    		background-color: #343a40;
    		overflow: hidden;
    		color: white;
   		border-radius: 0;
		}

	.nav-link {
    		color: white !important;
   		font-size: 18px;
		}

	.desc {
    		font-size: 20px;
    		color: gray;
		}

	.img-container img {
    		width: 100%;
   		height: auto;
    		object-fit: cover;
   		border-radius: 8px;
   		margin-bottom: 20px;
   		box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
		}	

	
	footer {
   		text-align: center;
    		padding: 20px;
    		background-color: #343a40;
    		color: white;
		}

	p{
		color: gray;
	}